replicaCount: 1

image:
  repository: ghcr.io/singh-krishan/ryan-service
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 80
  targetPort: 8005

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

env:
  - name: PORT
    value: "8005"

# Dynatrace monitoring annotations
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "8005"
  prometheus.io/path: "/metrics"
